<ul id="manager_nav" class="round border1 manager_container">
    <li class="button"><a href="settings">Settings</a></li>
    <li class="button"><a href="info">Public Info</a></li>
    <li class="button"><a href="security">Security</a></li>
    <% if(accInfo.isPatron && (process.env.STRIPE_PREMIUM_PLAN_ID || process.env.COINBASE_API_KEY)){ %><li class="button"><a href="billing">Billing</a></li> <% } %>
</ul>