@media only screen and (max-width: 750px) {
    body #profile_contentcontainer{
        flex-direction: column;
    }

    body #activityfeed{
        margin-left: 0px;
        margin-top: 20px;
    }

    body #profile_sidecards{
        width: 100%;
    }

    body .profile_badges{
        text-align: center;
    }
}

#intro .basicdata{
    display: flex;
    gap: var(--gap);
}

#profile_mainprofilepicture{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#signature{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#signature::-webkit-scrollbar-track {
    border-radius: var(--round);
}

#signature img{
    max-width: 100%;
}

.profile_mediaicon{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3px;
}

.profile_mediaicon:hover{
    cursor: pointer;
}

#profile_sidecards{
    width: 235px;
}

.profile_sidecard{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

#categories{
    margin-left: 10px;
    flex: 1;
}

#categories ul{
    display: flex
}

#categories li{
    list-style: none;
    flex: 1;
    text-align: center;
}

.profile_content{
    padding: 8px;
}

.profile_mediumprofilepicture{
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 90%;

    text-align: center;
    background-size: cover;
}

#profile_createwallpost{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    resize: vertical;
    min-height: 111px;
    max-height: 250px;
    font-size: 14px;
}

#profile_createwallpostbutton{
    padding: 5px 25px;
    border: 1px solid gray;
    border-radius: 3px;
    float: right;
    margin: 4px;
}

.wallpost{
    position: relative;
}

.wallpost_postdropmenu{
    border: 1px solid gray;
    position: absolute;
    top: 25px;
    right: 8px;
    width: 140px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.wallpost_actions{
    border-top: 1px solid gray;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    margin:5px;
}

#profile_threadslist{
    text-align: center;
}

#profile_threadslist td:nth-child(1), #profile_threadslist th:nth-child(1){
    text-align: left;
}

.profile_threadrow{
    animation: fadein 2s;
}

#categories .downloadOption{
    margin: 0px 8px 8px 0px;
}

.username{
    font-weight: 400;
    display: flex;
    align-items: center;
}

.alias{
    font-size: 14px;
    color: gray;
    padding-left: 5px;
}

.positive{
    color: var(--green);
}

.negative{
    color: var(--red);
}

#activityfeed{
    margin-left: 12px;
    flex: 1;
    overflow: hidden;
}

#activityfeed h2{
    text-align: center;
}

.activitycard{
    padding: 12px;
    margin-bottom: 12px;
    word-break: break-word;
}

.activitycard a{
    color: rgb(52, 152, 219);
}

.activitycard .threadTitle{
    font-weight: bold;
}

.activitycard video{
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.activitycard img{
    max-width: 100%;
}

.delete{
    color: var(--red);
    float: right;
    cursor: pointer;
}

.biography{
    word-wrap: break-word;
}

video{
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.online-icon{
    background-color: #75ce45;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 4px;
}

.modal{
    display: none;
}

.modal .finalControls{
    width: 100%;
    justify-content: space-around;
}