@media only screen and (max-width: 800px) {
    .count{
        display: none !important;
    }

    .gridWrapper{
        grid-template-columns: minmax(157px, auto) auto !important;
    }
}

.onlineList{
    margin-bottom: var(--gap);
    max-height: 156px;
    overflow-y: auto;
}

main{
    max-width: 1100px;
    margin: auto;
}

.categoryGroup{
    margin-bottom: var(--gap);
    overflow: hidden;
}

.categoryGroup h2{
    font-size: 25px;
}

.categoryGroup  .gridWrapper{
    overflow: none;
}

.gridWrapper{
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    grid-auto-rows: auto;
}

.gridWrapper .thead{
    color: gray;
    font-size: 15px;
}

.gridWrapper > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.line{
    height: 1px;
    grid-column: 1 / -1;
    padding: 0 !important;
}

.category{
    padding-left: var(--gap);
}

a:visited.thread{
    color: darkgray;
}

.thread{
    display: flex;
    align-items: center;
    word-break: break-all;
    margin-bottom: 4px;
}

.threadData{
    color: gray;
    font-size: 14px;
    word-break: normal;
}

/* Unorganized */

.thead:first-of-type, .thead:nth-child(4), .threadContainer{
    padding: var(--less-gap) var(--gap);
}

aside a {
    display: inline-block;;
}