body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.installmodal{
    width: 100%;
    max-width: 460px;
}

h1{
    text-align: center;
}

input{
    width: 100%;
}

.note{
    color: lightgray;
    margin-top: 0;
}