/* Switches into mobile view */
@media only screen and (max-width: 670px) {
    body #navigationbar #foologo{
        font-size: 17px;
        font-weight: 300;
    }
    
    body #navigationbar{
        display: flex;
        flex-direction: column;
        position: sticky;
    }

    body #navigationbar ul{
        flex-direction: column;
    }

    body #navigationbar .navItem{
        width: 100%;
        margin: auto;
    }

    body .menu-toggle{
        display: block;
    }

    body #navigationbar .navItems{
        display: none;
    }
}

.menu-toggle{
    display: none;
    width: 20px;
    height: 20px;
    background: url("/icons/menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 4px auto;
    padding: 5px;
}

.navbell{
    margin-left: auto;
    z-index: 2;
}

#navigationbar .menu a{
    display: block;
}

header li {
    display: inline-block;
    padding: 5px;
    margin-left: 8px;
}

#navigationbar{
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 3px 25px;
}

#navigationbar #foologo{
    padding-right: 10px;
    font-size: 21px;
    font-weight: 400;
    white-space: nowrap;
}

#navigationbar .navItems{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.navItem{
    list-style: none;
    padding: 5px 10px;
    display: block;
    font-size: 17px;
    text-align: center;
    position: relative;
}

.navItem:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.navHeader_dropmenu > .dropmenu-title{
    cursor: pointer;
}

.navHeader_dropmenu > .menu{
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    padding: 12px;
    margin-top: 5px;
    background-color: var(--color-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 10px 15px rgba(0, 0, 0, 0.05), 
                0 20px 25px rgba(0, 0, 0, 0.05);
}

.dropMenu_option{
    cursor: pointer;
}

.navItem:hover.adTip::after{
    content: "Ad";
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px 3px;
    background-color: #F1C40F;
    position: absolute;
    right: -11px;
    top: 3px;
    color: black;
    font-size: 8px;
    font-weight: 400;
}

/* Notifications */

.notifbell{
    display: block;
    width: 20px;
    height: 20px;
    background: url("/icons/bell.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
}

.notifcount{
    display: block;
    background-color: var(--red);
    height: 12px;
    width: 12px;
    font-size: 10px;
    border-radius: 12px;
    position: absolute;
    right: -3px;
    top: -3px;
}

.menu-toggle-notif::after{
    content: "";
    display: block;
    background-color: var(--red);
    height: 9px;
    width: 9px;
    border-radius: 12px;
    position: absolute;
    right: -2px;
    top: -1px;
}

.notification{
    display: flex;
    align-items: center;
    padding: 0 0 8px;
}

.notification > div{
    flex: 1;
    font-size: 14px;
    text-align: left;
}

.notification img{
    width: 28px;
    height: 28px;
    border-radius: 10px;
    float: left;
    margin-right: 8px;
}

.notification a{
    cursor: pointer;
}

.notification .notif-time{
    font-size: 10px;
}

.notif-exit{
    color: var(--red);
    cursor: pointer;
    display: block;
}

.deleteallnotifs{
    color: var(--red);
    cursor: pointer;
    font-size: 12px;
}

/* End Notifictions */