h1, h2, h3, .term, button{
    font-weight: 400;
}

.section{
    max-width: 800px;
    margin: auto;
}

.section h2{
    text-align: center;
}

.price {
    color: #3ca374;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.shopButtons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shopButtons > button {
    background-color: #3ca374;
    color: #fff;
    cursor: pointer;
    padding: 2px 16px;
    height: 44px;
    min-height: 44px;
    font-size: 16px;
    min-width: 150px;
    margin-left: var(--gap);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopButtons > button:first-of-type {
    margin-left: 0;
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: var(--less-gap);
}

.creditcard {
    background-image: url("/images/icons/creditcard.png");
}

.cryptocoin {
    background-image: url("/images/icons/crypto-coin.png");
}

#buybutton:hover {
    background-color: #3ca374;
}

.premiumMarkingContainer > *{
    text-align: center;
    color: #3ca374;
}

#perks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.perk_card{
    width: 250px;
    min-height: 125px;
    overflow: hidden;
    display: inline-block;
    margin-top: 12px;
}

.perk_card p:first-of-type{
    margin-bottom: 5px;
    font-weight: 400;
}

#payment_container{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    display: none;
}

#payment_container > div{
    margin: auto;
    min-width: 440px;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    position: relative;
}

#paymentexit{
    position: absolute; 
    top: 0;
    right: 0;
    padding: 5px;
    margin-right: 8px;
    cursor: pointer;
}

#payment_options{
    display: flex;
    justify-content: space-between;
}

#payment_options button{
    padding: 8px 12px;
    background-color: #3ca374;
    color: #fff;
    cursor: pointer;
    min-width: 190px;
    font-size: 15px;
}

#manageBilling{
    margin-top: 5px; 
    color: gray; 
    text-align: center; 
    display: block;
}

#stripe_status{
    color: var(--red);
    text-align: center;
    display: none;
    margin-top: 12px;
}