<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
	
		<title>Moderator Dashboard</title>
		
        <% include ../../partials/headimps %>
        <link href="/css/dashboard/index.css?v=22&v2=2" rel="stylesheet" type="text/css">
        <link href="/css/prism.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/js/timestamp.js?v2=2"></script>   
        <script type="text/javascript" src="/js/oembed.js?v=22&v2=4"></script>
        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	</head>
	<body class="container">
		<% include ../../partials/global %>
		<main>
            <h1>Dashboard</h1>
            <% if(accInfo.isAdmin) { %>
            <br>
            <div>
                <h2>- Admin</h2>
                <br>
                <a href="/dashboard/settings" class="theme1 border1 round card">
                    <div>
                        <p class="title">Settings</p>
                        <p>Edit information or toggle features</p>
                    </div>
                </a>
                <a href="/dashboard/integrations" class="theme1 border1 round card">
                    <div>
                        <p class="title">3rd Party Integrations</p>
                        <p>Manage API keys for 3rd party integrations</p>
                    </div>
                </a>
                <a href="/dashboard/categories" class="theme1 border1 round card">
                    <div>
                        <p class="title">Categories</p>
                        <p>Add, edit, or remove categories here.</p>
                    </div>
                </a>
                <a href="/dashboard/moderators" class="theme1 border1 round card">
                    <div>
                        <p class="title">Moderators</p>
                        <p>Add or remove moderators here.</p>
                    </div>
                </a>
            </div>
            <% } %>
            <br>
            <div>
                <h2>- Moderator</h2>
                <br>
                <a href="/dashboard/auditlog" class="theme1 border1 round card">
                    <div>
                        <p class="title">Audit Log</p>
                        <p>A log of deleted and edited events on the forum.</p>
                    </div>
                </a>
            </div>
            <br>
            <div class="feeds">
                <div>
                    <div class="theme1 border1 round padding">
                        <h2>Latest Accounts</h2>
                        <br>
                        <div class="gapchildren">
                            <% accounts.forEach(account => { %>
                            <a class="accountRow" href="/profile?uid=<%= account._id %>">
                                <img src="<%= account.profilepicture %>"/>
                                <div>
                                    <p><%= account.username %></p>
                                    <p>Created: <script>document.write(TimeStamp.Beautify('<%= account.creationdate %>'))</script></p>
                                </div>
                            </a>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div id="root" class="gapchildren globalactivitycontainer"></div>
            </div>
		</main>
        <% include ../../partials/footer %>
        <script>
            document.addEventListener("click", function(event) {
				var target = event.target;
				if (target.matches(".delete")) {
					if(!confirm("Confirm delete.")) return
					fetch("/api/thread/reply", {
						method: "DELETE",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							trid: target.getAttribute("data-trid"),
						})
					})
					.then(res => res.json())
					.then(res => {
						if(res.success) target.parentElement.remove()
						else {
							if(res.reason) alert("Error: " + res.reason)
							else alert("An unexpected error occured...")
						}
					})
					.catch((e)=>{
						console.log(e)
						alert("Failed to contact the server or an unexpected response was received...")
					})
				}
			});
        </script>
        <script type="text/babel" src="/js/react/dashboard-index.js"></script>
    </body>
</html>