<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
		<meta name="keywords" content="Exploits, dll, hacks, cheats, developers, social, media" />
        <meta name="description" content="Add, edit, or remove categories here." />
	
		<title>Integrations Dashboard - <%- powForum.name %></title>
		
		<% include ../../partials/headimps %>
        <link href="/css/dashboard/settings.css?v=26" rel="stylesheet" type="text/css">
	</head>
	<body class="container">
        <% include ../../partials/global %>
        <main class="gapchildren">
            <div id="metadata" class="integrationSection border1 round padding">
                <p class="header">Metadata</p>
                <br>
                <div class="gapchildren">
                    <div class="lessgapchildren">
                        <p>Forum Name</p>
                        <input name="name" class="border1 round less-padding" type="text" placeholder="What is the name of your forum?" value="<%= name %>"/>
                    </div>
                    <div class="lessgapchildren">
                        <p>Description</p>
                        <input name="description" class="border1 round less-padding" type="text" placeholder="How would you describe this forum?" value="<%= description %>"/>
                    </div>
                </div>
                <br>
                <button class="btnSave border1 round less-padding" onclick="UpdateMetadata()">Save</button>
            </div>
            <div id="globalHeadInsert" class="integrationSection border1 round padding gapchildren">
                <p class="header">Global Head Insert</p>
                <p class="red">Warning: This can break the website if you don't know what you're doing.</p>
                <p class="subtext">Add whatever you want in the head tag all across the website.</p>
                <textarea class="border1 round less-padding" placeholder=""><%- globalHeadInsert || "<style>\n</style>\n<script>\n</script>" %></textarea>
                <br>
                <button class="btnSave border1 round less-padding" onclick="updateGlobalHeadInsert()">Save</button>
            </div>
        </main>
        <script>
            function UpdateMetadata(){
                //Compile data
                let name = document.querySelector('#metadata input[name="name"]').value
                let description = document.querySelector('#metadata input[name="description"]').value

                //Send update request
                fetch('/api/dashboard/settings/metadata', {
                    method: "POST",
                    headers: {
                        'content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        name, 
                        description,
                    })
                })
                .then(res => res.json())
                .then(res => {
                    if(res.success) document.location.reload()
                    else  alert(res.reason || "An unknown server error has occured")
                })
            }

            function updateGlobalHeadInsert(){
                //Compile data
                let markup = document.querySelector('#globalHeadInsert textarea').value

                //Send update request
                fetch('/api/dashboard/settings/globalHeadInsert', {
                    method: "POST",
                    headers: {
                        'content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        markup, 
                    })
                })
                .then(res => res.json())
                .then(res => {
                    if(res.success) alert("Saved")
                    else  alert(res.reason || "An unknown server error has occured")
                })
            }
        </script>
	</body>
</html>