<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
	
		<title>Log In to Your Account - <%- powForum.name %></title>
		
        <% include ../partials/headimps %>
        <link href="/css/login.css?v=23" rel="stylesheet" type="text/css">
        
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <% if( process.env.CAPTCHA_APIKEY && process.env.CAPTCHA_SITEKEY ){ %>
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha" async defer></script>
        <% } else { %>
        <script>
            //So attempted usage of captcha doesn't error
            var grecaptcha = {
                getResponse: () => {},
                reset: () => {},
                execute: () => {},
                render: () => {},
            }
        </script>
        <% } %>
	</head>
	<body class="container">
		<main style="display: flex; min-height: 100vh;">
            <div id="login_rightpanel" style="flex: 1; display: flex; padding: 45px; align-items: center;">
                <a href="/" style="position: absolute; top: 20px;">Back To Home</a>
                <div id="loginContainer" class="gapchildren">
                    <h1>Log in to <%- powForum.name %></h1>
                    <form id="login_form" method="post" autocomplete="off" class="gapchildren">
                        <div class="lessgapchildren">
                            <p>Username</p>
                            <input type="text" name="username" placeholder="Username" class="round border1 padding"/>
                        </div>
                        <div class="lessgapchildren">
                            <p>Password</p>
                            <input type="password" name="password" placeholder="****" class="round border1 padding"/>
                        </div>
                        <div class="lessgapchildren">
                            <p>2FA Token <span style="color: grey;">- Leave empty if not applicable</span></p>
                            <input type="text" name="token2fa" placeholder="000000" class="round border1 padding"/>
                        </div>
                        <div class="g-recaptcha" data-sitekey="<%- process.env.CAPTCHA_SITEKEY %>"></div>
                        <button class="round border1 padding">Submit</button>
                    </form>
                    <p><a href="/register">Register</a> | <a href="/recovery">Forgot username/password</a></p>
                    <p id="req_Response" style="text-align: center; color: var(--red);"></p>
                </div>
            </div>
		</main>
		
		<script>
            document.querySelector("#login_form").onsubmit = function(e){
                e.preventDefault()
                
                let form = new FormData(document.getElementById('login_form'))

                fetch('/api/account/login', {
					method: "POST",
                    headers: {
                        'Content-Type': "application/json",
                    },
					body: JSON.stringify({
                        'g-recaptcha-response': form.get('g-recaptcha-response'),
                        username: form.get('username'),
                        password: form.get('password'),
                        token2fa: form.get('token2fa'),
                    }),
				})
				.then(res => res.json())
                .then(res => {
                    if(res.success){
                        document.location.href = "/profile"
                        document.getElementById('req_Response').innerHTML = "Success!"
                    } else {
                        document.getElementById('req_Response').innerHTML = res.reason || 'Unknown error occured...'
                    }
                })
				.catch(()=>document.getElementById('req_Response').innerHTML = "Failed to contact the server.")

				grecaptcha.reset();
			}
            
            function captchaErrorCallback() {
                // Re-initialize reCaptcha
                grecaptcha.reset();
                // Fire reCaptcha
                grecaptcha.execute();
            }
		</script>
	</body>
</html>