:root{
    --text-muted: hsl(214, calc(var(--saturation-factor, 1) * 4%), 65.3%);
    --theme1: #232527;
    --theme2: #181919;
}

body{
    background-color: #2f3136;
    color: #ECF0F1;
}

#navigationbar{
    background: -webkit-linear-gradient(left,var(--theme2),#282828);
    background: -o-linear-gradient(left,var(--theme2),#282828);
    background: -webkit-gradient(linear,left top,right top,from(var(--theme2)),to(#282828));
    background: linear-gradient(90deg,var(--theme2),#282828);
}

.theme1{
    background-color: var(--theme1);
}


.theme2{
    background-color: var(--theme2);
}

.border1{
    border: 1px solid var(--theme2);
}

.border1-left{
    border-left: 1px solid var(--theme2);
}

.border1-bottom{
    border-bottom: 1px solid var(--theme2);
}

/* Custom TinyMCE Dark Theme*/

.tox-toolbar__primary, .tox-statusbar, .tox-menu, .tox-dialog, .tox-dialog__header, .tox-selectfield select, 
.tox-textarea, .tox-dialog__footer{
    background-color: var(--theme1) !important;
}

code[class*="language-"], pre[class*="language-"]{
    background-color: var(--theme2);
}