:root{
    --color-background: #16141c;
    --color-background-weak: #1e2130;
    --color-accent: hsl(348, 100%, 54%);
    --color-secondary: #34384e;
    --color-highlight: rgba(52, 56, 78, 0.5);
    --color-elevated: #1a1926;
}

body{
    background-color:  var(--color-background);
    color: #ECF0F1;
}

.border1{
    border: 1px solid var(--color-secondary);
}

.border1-left{
    border-left: 1px solid var(--color-secondary);
}

.border1-bottom{
    border-bottom: 1px solid var(--color-secondary);
}

.theme1{
    background-color: var(--color-background);
}

.shadow-lift{
    box-shadow: rgba(0, 0, 0, 0.75) 2px 4px 20px 0px;
}

/* Custom TinyMCE Dark Theme*/

.tox-toolbar__primary, .tox-statusbar, .tox-menu, .tox-dialog, .tox-dialog__header, .tox-selectfield select, 
.tox-textarea, .tox-dialog__footer{
    background-color: var(--color-background) !important;
}

code[class*="language-"], pre[class*="language-"]{
    background-color: var(--color-background);
}

input, select, option, button, textarea {
    background-color: rgba(0,0,0,0);
}