body{
    background-color: #f3f2f2;
    color: #313030;
}

#navigationbar{
    background-color: #E67E22;
    color: #ECF0F1;
    background: -webkit-linear-gradient(left,#F39C12,#E67E22);
    background: -o-linear-gradient(left,#F39C12,#E67E22);
    background: -webkit-gradient(linear,left top,right top,from(#F39C12),to(#E67E22));
    background: linear-gradient(90deg,#F39C12,#E67E22);
}

header a#foologo{
    display: flex;
}

#foologo::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/icons/turkey.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4px;
}

#navigationbar .menu{
    background-color: #F39C12;
}

.border1{
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.border1-left{
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.border1-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}